.sceneTitle {
  font-family: "Arvo", serif;
  font-size: 20px;
}

.sceneComponents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sceneRadio label {
  display: inline-block;
  background-color: #48937e;
  padding: 10px 20px;
  width: 70px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  margin-bottom: 25px;
}

.sceneRadio label:hover {
  background-color: #ccf656;
  cursor: pointer;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  left: -1px;
  position: relative;
  background-color: #3d806d;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  left: -1px;
  position: relative;
  background-color: #ccf656;
  content: "";
  display: inline-block;
  visibility: visible;
}

#js-output {
  width: 1000px;
  height: 700px;
  border: 3px solid #ccf656;
}

.sceneContainer {
  position: relative;
}

.manSilhouette,
.womanSilhouette {
  height: 440px;
  position: absolute;
  bottom: 6px;
}

.manSilhouette {
  right: 500px;
  z-index: 2;
}

.womanSilhouette {
  right: 200px;
  z-index: 2;
}

.dialogueBox {
  width: 200px;
  min-height: 40px;
  background-color: #ffffff;
  border: 3px solid #f230aa;
  border-radius: 4px;
  position: absolute;
  right: 600px;
  bottom: 450px;
  z-index: 2;
  padding: 5px;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.replyDialogueBox {
  width: 200px;
  min-height: 20px;
  background-color: #ffffff;
  border: 3px solid #f230aa;
  border-radius: 4px;
  position: absolute;
  padding: 5px;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  z-index: 2;
  right: 100px;
  bottom: 450px;
}

.translationBox {
  width: 200px;
  min-height: 20px;
  background-color: #ffffff;
  border: 3px solid #ccf656;
  border-radius: 4px;
  position: absolute;
  padding: 5px;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  z-index: 2;
  right: 100px;
  bottom: 20px;
}

.homepageBody {
  min-height: calc(80vh);
}

.footer {
  background-color: #000000;
  height: 230px;
}

.clubScene {
  width: 1000px;
  height: 700px;
  position: absolute;
  background-color: red;
  animation: disco 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  right: 3px;
  bottom: 6px;
  z-index: 1;
  opacity: 30%;
}

@keyframes disco {
  0% {
    background-color: red;
  }
  10% {
    background-color: green;
  }
  20% {
    background-color: blue;
  }
  30% {
    background-color: yellow;
  }
  40% {
    background-color: orange;
  }
  50% {
    background-color: purple;
  }
  60% {
    background-color: brown;
  }
  70% {
    background-color: pink;
  }
  80% {
    background-color: lime;
  }
  90% {
    background-color: cyan;
  }
  100% {
    background-color: teal;
  }
}

.streetScene {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  top: 40px;
  left: 495px;
  animation: switchOff 1000ms linear infinite alternate;
}

@keyframes switchOff {
  from {
    border: 30px solid whitesmoke;
    opacity: 0;
  }
  to {
    border: 30px solid silver;
    opacity: 70%;
  }
}
