.footer {
  background-color: #000000;
  height: 230px;
}

.footerContent {
  display: flex;
  justify-content: space-around;
}

.footerHeadings {
  color: #ccf656;
  font-family: "Arvo", serif;
  font-size: 20px;
}

.footerText {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  width: 550px;
}

.footerAbout,
.footerSubmit {
  width: 550px;
}

.credits {
  font-family: "Source Sans Pro", sans-serif;
  color: #ccf656;
  font-size: 12px;
  text-align: center;
}
