.attackButton {
  background-color: #48937e;
  padding: 10px 20px;
  width: 110px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  border-color: #48937e;
  border-radius: 4px;
  margin-bottom: 40px;
  cursor: pointer;
}

.dialogueBox {
  width: 200px;
  min-height: 40px;
  background-color: #ffffff;
  border: 3px solid #f230aa;
  border-radius: 4px;
  position: absolute;
  padding: 5px;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
