.attackButton {
  background-color: #48937e;
  padding: 10px 20px;
  width: 110px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  border-color: #48937e;
  border-radius: 4px;
  border-style: solid;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🗣️</text></svg>")
      16 0,
    auto;
}

.attackButton:hover {
  background-color: #ccf656;
  border-color: #ccf656;
}
